body {
    font-family: 'Roboto', Verdana, 'Rubik', sans-serif;
    background-color: rgb(231, 232, 233);
}

#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: #E8FFFC;
    color: #000000;
    border: 1px solid #0b0c0c;
    border-radius: 5px;
    padding: 10px;
}

a {
    color: #C7ACA1;
    text-decoration: none;
}

a:hover {
    background-color: #C7ACA1;
    color: #7A594B;
}

a:visited {
    color: #7A594B;
}

p {
    font-family: 'Roboto', Verdana, 'Rubik', sans-serif;
    font-weight: 400;
    line-height: 1.4em;
    border: 2px solid #C7ACA1;
    border-radius: 5px;
}

#image-gallery {
    margin-top: 10%;
    display: grid;
    grid-template-columns: auto auto auto;
}

#page-title {
    text-align: center;
    font-family: 'Roboto', Verdana, 'Rubik', sans-serif;
    font-weight: 400;
}

img {
    width: 450px;
    height: 400px;
    float: left;
    padding: 5px
}

.gallery-title {
    text-align: center;
    font-family: 'Roboto', Verdana, 'Rubik', sans-serif;
    font-weight: 400;
}

figure {
    text-align: center;
}

figcaption {
    font-family: 'Roboto', Verdana, 'Rubik', sans-serif;
    font-style: italic;
    font-size: .75em;
    font-weight: 400;
}

h1, h3, figcaption {
    color: rgb(12, 10, 10);
}

.gallery-item {
    border: 1px solid rgb(5, 5, 4);
    border-radius: 5px;
    padding: 5px;
}